<p id="notice"><%= notice %></p>

<p>
  <strong>Orderid:</strong>
  <%= @order_detail.orderID %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @order_detail.productID %>
</p>

<p>
  <strong>Ordernumber:</strong>
  <%= @order_detail.orderNumber %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_detail.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_detail.quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @order_detail.discount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order_detail.total %>
</p>

<p>
  <strong>Idsku:</strong>
  <%= @order_detail.IDSKU %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order_detail.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @order_detail.color %>
</p>

<p>
  <strong>Shipdate:</strong>
  <%= @order_detail.shipdate %>
</p>

<p>
  <strong>Billdate:</strong>
  <%= @order_detail.billdate %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
