<h1>Listing shippers</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shippers.each do |shipper| %>
      <tr>
        <td><%= shipper.company_name %></td>
        <td><%= shipper.phone %></td>
        <td><%= link_to 'Show', shipper %></td>
        <td><%= link_to 'Edit', edit_shipper_path(shipper) %></td>
        <td><%= link_to 'Destroy', shipper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipper', new_shipper_path %>
